[Unit]
Description=AlgoLens Backend API
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/AlgoLens/algolens-api
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="PORT=5001"
EnvironmentFile=/home/ec2-user/AlgoLens/algolens-api/.env
ExecStart=/usr/bin/python3 -m gunicorn --bind 127.0.0.1:5001 --workers 2 --threads 4 wsgi:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
